.icon-scroll {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;

	width: 40px;
	height: 70px;
	box-shadow: inset 0 0 0 1px #fff;
	border-radius: 25px;

	&::before {
		content: '';
		position: absolute;
		left: 50%;
		transform: translateX(-50%);

		width: 8px;
		height: 8px;
		background: #fff;
		top: 8px;
		border-radius: 4px;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
		animation-name: scroll;
	}
}

.dark-icon-scroll {
	box-shadow: inset 0 0 0 1px #000;
	&::before {
		background: #000;
	}
}

@keyframes scroll {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translateY(45px) translateX(-50%);
	}
}

.line {
	height: 15vh;
	animation: drop 7s 0s infinite;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
}

.dark-line {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000000 75%, #000000 100%);
}

@keyframes drop {
	0% {
		top: -50%;
	}
	100% {
		top: 110%;
	}
}
